    /* position: relative;
    ელემენტი დარჩება თავის ხაზზე მაგრამ შეგვიძლია გვერდზე გავწიოთ
    ასევე ამას თუ არ დავუწერთ და ელემენტის გაწევა მოგვინდება 20პიქსელით 
    მაშინ იგი გაიწევა საიტის გვერდიდან და არა მისი მშობელი დივ ბლოკიდან
    
    position: absolute;
    თუ ჩვენ გვაქ მწკრივი და რომელიმე ელემენტზე ამას დავწერთ იგი გაქრება მის ადგილზე მისი 
    შემდეგი ჩადგება და მერე რომელსაც აბსოლუტი დავუწერეთ იმას ზემოდან გადაეფარება
    
    position: fixed; 
    რომ ჩავსქროლოთ ელემენტიც გამოგვყვება */
    
    /* მოძრაობა: */
    /* margin-top: ;
    margin-left: ;
    margin-right: ;
    top: ;
    left: ;
    right: ; */