body {
    color: rgb(100, 8, 8);
    background-color: rgb(247, 196, 228);
}
#game {
    color: red;
}
.person {
    background-color: greenyellow;
}
.doctor {
    background-color: aqua;
}
.criminal {
    background-color: black;
}