#color1 {
    color: rgb(27, 27, 27);
}
#color2 {
    color: rgb(255, 255, 0);
}
#color3 {
    color: #ff0000;
}
#color4 {
    color: rgb(0, 236, 0);
}
#color5 {
    color: #0f0fff;
}
#color6 {
    color: #600060;
}
#color7 {
    color: hsl(0, 60%, 29%);
}
#color8 {
    color: hwb(39 6% 0%);
}
#color9 {
    color: springgreen;
}